/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inter&family=Lobster&family=Montserrat:ital@1&family=Poppins:wght@400;500&family=Ubuntu&display=swap');

body{
    font-family: 'Courgette', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 50px 0% 50px 0%;
}
/* common style */

h1{
    font-size: 3.9rem;
    font-weight: 700;
    color: #FFFFFF;
}
h2{
    font-size: 50px;
}
p{
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 400;
}
/* ------ banner style ------*/

.banner-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: center;
    grid-gap: 20px;
    background-color: black;
    border-radius: 30px;
    width: 80%;
    padding: 0 30px;
    margin: auto;
    height: auto;
}
.banner-paragraph p {
    color: #FFFFFF;
}
.button{
    text-decoration: none;
    background-color:  #DD0000;
    color: #FFFFFF;
    padding: 16px 25px;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
}
.button span{
    padding-left: 10px;
    padding-right: 10px;
}
.button:hover{
    background-color: royalblue;
    padding: 20px 35px;
    font-weight: 600;
    transition: padding 1s;
}
.banner-img img{
    width: 100%;
    padding-top: 20px;
    border-radius: 30px;
}

/*----------- match style----------- */

/* all match */
.match-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    grid-gap: 20px;
    padding: 100px 100px;

}
.two-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: space-evenly;
}
/* match blog */
.match-card{
    display: grid;
    grid-template-columns: repeat(1,fr);
    justify-content: flex-end;
}
.match-blog-contant{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    background-color:  #161616;
    padding: 10px 10px;
    border-radius: 10px;
    width: 312px;
    height: 312px;

}


.card-button a{
    align-items: center;
    text-decoration: none;
    background-color: #FFFFFF;
    color: #161616;
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 1.8rem;
    font-weight: 500;
    
}
.red-button a{
    background-color: #DD0000;
   color: white;
   padding: 14px 96px;
}
.second-button a{
    padding: 14px 67px;
}
/* transfer live blog */
.transfer-contant{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    grid-gap: 20px;
    width: 100%;
    justify-content: center;
    
}
.transfer-live-blog{
    border: 2px solid rgb(237, 226, 226);
    width: 312px;
    border-radius: 10px;
   
}
.transfer-info{
    padding: 0 10px 5px 10px ;
}
.transfer-button{
    font-size: 16px;
    font-weight: 500;
    padding: 5px 14px;
    color: #161616;
}
.transfer-icon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: center;
}
.transfer-img{
    width: 312px;
    height: 175px;
}
.tranfer-text{
    padding: 5px 20px;
}

/* footer style */
footer{
    background-color: #161616;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    height: 445px;
}
.footer-contant{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
.foot-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
hr{
    width: 75%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #FFFFFF1A;
}
.foot-text span{
    padding: 5px 30px;
    color: #B9B9B9;
    font-size: 16px;
}
.icon-color{
    color: #B9B9B9;
}

/*--------- media quarise--------- */

/* mobile */
@media only screen and (max-width: 688px) {
    .banner-container{
        grid-template-columns: repeat(1, 1fr);
        width: 60%;
    }
    .match-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    .match-blog-contant{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        background-color:  white;
        border-radius: 10px;
        width: 312px;
        height: 312px;
    
    }
    .card-button a{
        align-items: center;
        text-decoration: none;
        background-color: #FFFFFF;
        color: #161616;
        padding: 15px 20px;
        border-radius: 15px;
        font-size: 2rem;
        font-weight: 500;
        border: 2px solid rgb(171, 164, 164);
    }
    .red-button a{
        background-color: #DD0000;
       color: white;
       padding: 10px 30px;
       border: none;
       
    }
    .transfer-contant{
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-evenly;
        align-items: center;

    }
    .transfer-img{
        width: 100%;
    } 
     .two-card{
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        display: none;
    }
}
/* tablet */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .banner-container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        align-items: center;
    }
    .banner-img{
        padding-top: 230px;

    }
    .match-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .two-card{
        grid-template-columns: repeat(1, 1fr);
    }
    .transfer-contant{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        justify-items: center;
        grid-gap: 20px;
        width: 100%;
        justify-content: center;
        
    } 
    footer{
        display: none;
    }
}
